.uiModal{
    background-color: white;
    width: 400px;
    height: max-content;
    margin: 100px auto 0px auto;
    padding: 15px;
    border-radius: 4px;
    justify-content: center;
}




.uiModalOverlay{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0; 
    left: 0;
    background-color: rgba(0,0,0,0.5);
}

.button{
    border: unset;
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    padding: 0;
    border-radius: 2px;
    float: right;
}